* {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

body {
    background-color: rgb(44, 44, 44);
    margin-left: 10%;
    margin-right: 10%;
    background-repeat: round;
    background-size: cover;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.indice {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
    align-content: space-around;


}

.elementos {
    background-color: #a8dfffb0;
    width: 250px;
    height: 250px;
    text-align: center;
    border: solid 0.2px rgba(0, 0, 0, 0.671);
    border-radius: 6px;
    box-shadow: 2.5px 2.5px 10px black;
    backdrop-filter: blur(5px);
    margin: 25px 25px 25px 25px;
    padding: 10px 10px 10px 10px;

}

.cont {
    background-color: rgb(223, 250, 255);
    height: 100%;
    padding: 30px 30px 30px 30px;
}

.items {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.menu1 {
    background-color: #3e3e64;
    padding: 2px 30px 5px 5px;
}

.btnM1 {
    margin-left: -4px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 2px 25px 5px 5px;
    padding-left: 40px;
    padding-right: 40px;
}

.btnM1:hover {
    background-color: #1f0b66;
}

.btnM1:active {
    background-color: rgb(112, 6, 6);
}