.btnM1{
    font-family: 'Ubuntu', sans-serif;
}
.info{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: justify;
}
h1{
    text-align: center;
    font-size: 22px;
}
h4{
    background-color: chartreuse;
}
.header{
    background-color: #06172b;
    width: 100%;
    height: 100px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    background-image: url(recursos/logo2.svg);
    background-repeat: no-repeat;
    background-repeat: round;
}
#uefa{
    font-size: 40px;
}
.imagenitem{
    height:150px;
    width: 175px;
}
.tituloItem{
    font-size: 20px;
    color: black;

}
@media screen and (min-width:260px) and (max-width: 750px){ 
    .btnM1{
        font-family: 'Ubuntu', sans-serif;
    }
    .info{
        font-family: 'Times New Roman', Times, serif;
        font-size: 12px;
        text-align: justify;
    }
    h1{
        text-align: center;
        font-size: 20px;
    }
    h4{
        background-color: chartreuse;
    }
    .header{
        background-color: #06172b;
        width: 100%;
        height: 10%;
        padding-left: 2%;
        padding-bottom: 10%;
        padding-top: 10%;
        text-align: center;
        background-image: url(recursos/logo2.svg);
        background-repeat: no-repeat;
        background-repeat: round;
    }
    #uefa{
        font-size: 40px;
    }
    .tituloItem{
        font-size: 16px;
        color: black;}
    *{
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    
    body {
        background-color: rgb(43, 43, 43);
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .indice {
        display: flex;
        flex-flow:column;
        justify-content:flex-start;
        align-content: center;
        
    }
    
    .elementos {
        background-color: #8ebdffe9;
        width: 75%;
        height: 75%;
        text-align: center;
        border: solid 2% rgba(0, 0, 0, 0.671);
        border-radius: 3%;
        box-shadow: 2.5% 2.5% 10% black;
        backdrop-filter: blur(3%);
        margin: 5% 5% 5% 5%;
        padding: 3% 3% 3% 3%;
        
    }
    .cont {
        background-color: rgb(223, 250, 255);
        height: 100%;
        padding: 10% 10% 10% 10%;
    }
    
    .items {
        text-decoration: none;
        color: black;
        font-size: 7%;
    }
    
    .menu1 {
        background-color: #3e3e64;
        padding: 2% 2% 2% 2%;
        margin: 0% 0% 0% 0%;
    }
    
    .btnM1 {
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding-left: 2%;
        padding-right: 2%;
        font-size: 6px;
    }
    .imagenitem{
        height: 60%;
        width: 50%;
    }
    .ftgeneral{
        height: 75%;
        width: 75%; 
    }
    .indiceSeg{
        height: 75%;
        width: 75%; 
    }
}
