.btnM1{
    font-family: 'Ubuntu', sans-serif;
}
.info{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: justify;
}
h1{
    text-align: center;
    font-size: 22px;
}
h4{
    background-color: chartreuse;
}
.header{
    background-color: #06172b;
    width: 100%;
    height: 100px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    background-image: url(recursos/logo2.svg);
    background-repeat: no-repeat;
    background-repeat: round;
}
#uefa{
    font-size: 40px;
}
.imagenitem{
    height:150px;
    width: 175px;
}
.tituloItem{
    font-size: 20px;
    color: black;

}
@media screen and (min-width: (200)) and (max-width: 768px) { 
    * {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    
    body {
        background-color: rgb(133, 0, 0);
        
    }
    
    .indice {
        display: flex;
        flex-flow: wrap;
        justify-content:space-evenly;
        align-content: center;
        
    }
    
    .elementos {
        background-color: #a8dfffb0;
        width: 50%;
        height: 50%;
        text-align: center;
        border: solid 2% rgba(0, 0, 0, 0.671);
        border-radius: 3%;
        box-shadow: 2.5px 2.5px 10px black;
        backdrop-filter: blur(5px);
        margin: 10% 10% 10% 10%;
        padding: 10px 10px 10px 10px;
        
    }
    .cont {
        background-color: rgb(223, 250, 255);
        height: 100%;
        padding: 20% 20% 20% 20%;
    }
    
    .items {
        text-decoration: none;
        color: black;
        font-size: 10%;
    }
    
    .menu1 {
        background-color: #3e3e64;
        padding: 2px 30px 5px 5px;
    }
    
    .btnM1 {
        margin-left: -4px;
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding: 2% 2% 10% 2% 2%;
        padding-left: 20%;
        padding-right: 20%;
    }
}
